/tmp/
/.vpprefdata/
/ABus.vpp.bak
/ABus.vpp.bak_000f
/ABus.vpp.vbak
/ABus.vpp~1
/BlueAngel.vpp.bak
/BlueAngel.vpp.bak_000f
/BlueAngel.vpp.vbak
/BlueAngel.vpp~1
/ChangNing.vpp.bak
/ChangNing.vpp.bak_000f
/ChangNing.vpp.vbak
/ChangNing.vpp~1
/Jackson.vpp.bak
/Jackson.vpp.bak_000f
/Jackson.vpp.vbak
/Jackson.vpp~1
/Netty36.vpp.bak
/Netty36.vpp.bak_000f
/Netty36.vpp.vbak
/Netty36.vpp~1
/PicoContainer.vpp.bak
/PicoContainer.vpp.bak_000f
/PicoContainer.vpp.vbak
/PicoContainer.vpp~1
/SH.vpp.bak_000f
/SH.vpp.vbak
/Spring.vpp.bak
/Spring.vpp.bak_000f
/Spring.vpp.vbak
/Spring.vpp~1
/SpringSecurity.vpp.bak
/SpringSecurity.vpp.bak_000f
/SpringSecurity.vpp.vbak
/SpringSecurity.vpp~1
/Stubhub.vpp.bak
/Stubhub.vpp~3
/Stubhub.vpp~4
/Vertx1.2.3.vpp.bak
/Vertx1.2.3.vpp.bak_000f
/Vertx1.2.3.vpp.vbak
/Vertx1.2.3.vpp~1
/Java8.vpp.bak_000f
/Java8.vpp.bak_001d
/Java8.vpp.bak_002d
*.vpp.bak_003d
*.Java8.vpp.lck
